html,body{
    height: 100%;
}
html{
    font-family: "Arial Rounded MT";
}
ul{
    margin-top: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
ul li{
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 200px;
}

*{
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #615c5c;
}
.fs_48{
    font-size: 48px;
}
.fs_36{
    font-size: 36px;
}
.fs_24{
    font-size: 24px;
}
.bg_color{
    background: #4a90e2;
}
.font_color{
    color: #4a90e2;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
button{
    outline: none;
    list-style: none;
    cursor: pointer;
    transition: 1s;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    width: 300px;
    background: #4a90e2;
    color: white;
}
button:hover{
    background: rgba(104, 85, 217, 0.3);
}
input{
    border: none;
    /*聚焦input输入框的时候不会显现边框*/
    outline: none;
    background: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/bg4.png") no-repeat;
    background-size: cover;
}
.input-group input{
    height: 30px;
    margin-top: 20px;
    display: block;
}
.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 1000px;
    height: 700px;
    background: white;
    box-shadow: 0 0 10px white;
    border-radius: 30px;
}
.input-label{
    border-bottom: 3px solid #4a90e2;
    width: 300px;
}
.homePage .logo{
    color: #4a90e2;
}
label{
    color: #4a90e2;
    opacity: 0.5;
}
button{
    font-family: "Arial Rounded MT";
}
.homePage{
    box-shadow: 0 0 10px white;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}
.number-bg{
    border-radius: 30px;
    background: white url("../image/number.png");
    background-size: cover;
}
/*游戏面板*/
.gamePanel{
    display: none;
}
.gamePanel_title{
    background: url("../image/number1.png") space;
    /*background: #4a90e2;*/
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 3px solid rgba(74,144,226,0.5);
    width: 300px;
    float: left;
    /*position: relative;*/
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*width: 250px;*/
    height: 100%;
}
.gamePanel_title .start{
    margin-top: 80px;
}
.gamePanel_title .start .start-title{
    color: #4a90e2;
    font-size: 36px;
}
.gamePanel_title .start .start-value{
    color: #4a90e2;
    opacity: 0.5;
}
.start-btn{
    margin-top: auto;
}
.start-btn button{
    margin-bottom: 30px;
    width: 100%;
    display: block;
}
table{
    border-collapse: collapse;
}
.number_go_input{
    border: 3px solid #4a90e2;
}
.ng_grid{
    border: 1px solid #bec6d4;
}
.ng_grid:nth-child(3n):not(:last-child){
    border-right: 2px solid #4a90e2;
}
.ng-tr:nth-child(3n):not(:last-child){
    border-bottom: 2px solid #4a90e2;
}
.number_input:valid,.number_input[readonly]{
    cursor: pointer;
}
.number_input{
    /*font-weight: bold;*/
    color: rgba(74,144,226,0.7);
    font-size: 24px;
    transition: 1s;
    margin: auto auto;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
}
.number_input:hover{
    background: rgba(74,144,266,0.3);
}


.number_input[data-repeat=true]{
    background: rgba(251,61,63,0.3);
    color: #fb3d3f;
}
/*.number_input[data-choose=true]{*/
/*    background: #4a90e2;*/
/*    color: white;*/
/*}*/

.choose{
    background: #4a90e2;
    color: white;
}

.ranking{
    display: none;
}
.title-list li{
    font-size: 36px;
    color: #4a90e2;
    margin-bottom: 20px;
}
.records-list{
    height: 300px;
    overflow: hidden;
}
.records-table:nth-child(odd){
    border-radius: 20px;
    background: #4a90e2;
}
.records-table:nth-child(odd)>li{
    color: white;
    opacity: 0.7;
}
.records-table:nth-child(even)>li{
    color: #4a90e2;
}
.alert{
    padding: 10px 25px;
    background: #4a90e2;
    color:white;
    border-radius: 30px;
    font-size: 24px;
    position: absolute;
    animation: tip 1.6s;
    top: 20px;
}


@keyframes tip {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    20% {
        transform: translateY(0px);
        opacity: 1;
    }

    80% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}