body, html {
    height: 100%;
}

body {
    background: url("../image/bg-4.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

* {
    font-family: "Century Gothic";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #fcefef;
}

.tag {
    text-align: center;
    line-height: 130px;
    height: 150px;
    width: 150px;
    position: absolute;
    top: -20px;
    left: 1500px;
}

.tag::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 50px 75px;
    border-color: transparent transparent #4df6f8 transparent;
}

.block-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}

.active {
    box-shadow: 0 0 0 3px #ffff00;
}

.tip {
    top: 30px;
    position: absolute;
    padding: 7px 20px;
}

.mask {
    position: absolute;
    opacity: 0.98;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.popup {
    background: #fcefef;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 199;

}

.popup *:not(button) {
    color: #7a7e84;
}

.popup-title {
    border-bottom: 1px solid #f68a87;
}

.popup-title, .popup-content {
    padding: 15px;
}

.popup-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.frame {
    width: 1000px;
    height: 645px;
    background: url("../image/frame.png");
    display: flex;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 36px;
    list-style: none;
    justify-items: center;
    align-items: center;
}

input {
    caret-color: #f68a87;
    outline: none;
    height: 40px;
    width: 200px;
    background: transparent;
    border: 1px solid #f68a87;
    font-size: 17px;
    padding: 0 10px;
}

/*input:focus,button:focus{*/
/*box-shadow:0 0 0 1px #f68a87;*/
/*}*/
button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 100px;
    height: 48px;
    position: relative;
}

button::before, .image::before {
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: 0.5s;
}

.image::before {
    width: 200px;
    height: 200px;
}

button:active::before, .image:active::before {
    opacity: 1;
    transition: 0s;
    transform: scale(0);
}

.frame, button, .image, input, .image-frame, .image, .tip, .popup {
    border-radius: 5px;
}

button, .tag, .mask {
    background: #f68a87;
}

.sidebar *:not(button), input::placeholder, input, popup *:not(button) {
    color: #f68a87;
}

/*开始界面*/
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-frame {
    padding: 3px;
    border: 2px #B5838D dashed;
    transition: 0.3s;
}

.image {
    position: relative;
    line-height: 200px;
    text-align: center;
    color: #B5838D;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.image:hover {
    color: #fcefef;
}

.image-frame:hover {
    border: 2px #fcefef dashed;
}

.btn-description {
    width: 305px;
}

/*选择难度界面*/

.group {
    display: flex;
    justify-content: space-between;
    width: 450px;
    text-align: center;
}

.image-sample {
    position: relative;
    width: 120px;
    height: 120px;
}
.btn-user{
    padding: 10px 0;
    width: 210px;
}
.btn-start-game {
    margin-top: 20px;
    width: 120px;
}

/*游戏界面*/
.btn-stop {
    background: url("../image/btn-stop.png");
}

.btn-R {
    background: url("../image/btn-return.png");
}

.frame-game {
    background: url("../image/frame-4.png");
}

.block {
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
}

.sidebar {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar button, .btn-back {
    width: 60px;
    height: 50px;
}

.content {
    width: 600px;
    height: 600px;
    position: absolute;
}

.clock {
    height: 50px;
    width: 50px;
    margin: 10px auto;
    border-radius: 50%;
    border: 1px solid #f68a87;
    position: relative;
}

.pointer {
    position: absolute;
    border-radius: 50%;
    border-width: 20px 3px 0 3px;
    border-style: solid;
    border-color: #efa296 transparent transparent transparent;
    transform: translateX(-50%);
    top: 5px;
    left: 50%;
}

/*排行榜界面*/

.ranking-title li {
    font-size: 20px;
    font-weight: bold;
}

.ranking-content {
    height: 300px;
    overflow: auto;
}

.ranking-content > :nth-child(odd) {
    background: #2ab7ca;
}

.ranking-content > :nth-child(even) {
    background: #00a6fb;
}

.btn-H {
    background: url("../image/btn-home .png");
}
