@keyframes frame-in {
    from {
        opacity: 0;
        transform: scale(0) translateY(-800px) translateX(-800px);
        /*transform: scale(0)  skewX(180deg);*/
    }
}

@keyframes frame-out {
    to {
        transform: scale(0) translateY(800px) translateX(800px);
        /*transform: scale(0)  skewX(180deg);*/
        opacity: 0;
    }
}

@keyframes tip {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    20% {
        opacity: 1;
        transform: translateY(40px);
    }
    80% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}


@keyframes tag-in {
    0% {
        transform: translateY(-150px);
    }
    70% {
        transform: translateY(10px);
    }
}

@keyframes tag-out {
    30% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-150px);
    }
}

@keyframes gap-in {
    0%{
        transform: translateX(350px) scale(1.2);
        opacity: 0;
    }
    30%{
        transform: translateX(300px) scale(1);
        opacity: 1;
    }

}

@keyframes gap-out {
    30%{
        transform: translateX(300px) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateX(350px) scale(1.2);
        opacity: 0;
    }
}

@keyframes block-in {
    50% {
        opacity: 1;
    }
    0% {
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}

@keyframes block-out {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


@keyframes popup-in {
    0%{
        transform: translateX(-2000px);
        opacity: 0;
    }


}

@keyframes popup-out {

    100%{
        transform: translateX(-2000px);
        opacity: 0;
    }
}


@keyframes  mask-in{
    0%{
        transform: translateY(-1200px);
        opacity: 0;
    }


}

@keyframes mask-out {

    100%{
        transform: translateY(-1200px);
        opacity: 0;
    }
}

@keyframes clock {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes image-in {
    0%{
        opacity: 0;
        border-bottom-right-radius: 50%;
    }
}


