html, body {
    height: 100%;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    font-size: 1rem;
    cursor: pointer;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    outline: none;
    border: none;
    color: #fff;
    background: #7983ff;
    transition:0.5s;
    animation:stretch 1s;
}
button:hover {
    width: 150px;
    background: #acbfff;
}
button::after {
    content: '';
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0);
    background: white;
    transition: 0.6s;
    opacity: 1;
    /*transform: rotate(30deg);*/
}
button:active::after{
    transition: 0s;
    transform: scale(1);
    opacity: 0;
}

.logo{
    width: 100px;
    animation:swing 1s;
    cursor: pointer;
}
.frame {
    transform-origin: 0 0;
    overflow: hidden;
    background: url("../img/bg.jpg");
    width: 960px;
    height: 600px;
    position: relative;
    box-shadow: 0 0 10px #8dacff;
}
.game-frame{
}
.start-frame {
    display: grid;
    /*grid-template-rows: 70px 200px 40px 40px;*/
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}
.instruction{
    width: 80%;
    height: 250px;
    overflow: auto;
    animation: font-in 1s;
}
.player{
    /*box-shadow: 0 0 10px #fc575d;*/
    background: url("../img/player.png") no-repeat center /cover;
}
.item{
    position: absolute;
    width: 100px;
    height: 30px;
}
.friend{

    background: url("../img/friend.png");
    width: 80px;
    height: 80px;
}
.enemy{
    background: url("../img/enemy.png");
    width: 80px;
    height: 80px;
}
.bullet{
    width: 10px;
    height: 5px;
    border-radius: 50%;
}
.fuel{
    background: url("../img/fuel.png");
    background-size: cover;
    width: 50px;
    height: 70px;
}
/*行星*/
.planet-1,.planet-2,.planet-3,.planet-4,.planet-5{
    position: absolute;
    left: 960px;

}
.planet-1{
    top: 50px;
    background: url("../img/planets/1.png");
    background-size: cover;
    animation:planetMove 15s infinite linear 10s;
    width: 400px;
    height: 400px;
}
.planet-2{
    top: 100px;
    background: url("../img/planets/2.png");
    background-size: cover;
    animation:planetMove 20s infinite linear 2s;
   width: 250px;
    height: 250px;
}
.planet-3{
    top: 400px;
    background: url("../img/planets/3.png");
    background-size: cover;
    animation:planetMove 40s infinite linear 5s;
    width: 200px;
    height: 200px;
}
.planet-4{
    top: 350px;
    background: url("../img/planets/4.png");
    background-size: cover;
    animation:planetMove 50s infinite linear;
    width: 47px;
    height: 49px;
}
.planet-5{
    top: 400px;
    background: url("../img/planets/5.png");
    background-size: cover;
    animation:planetMove 30s infinite linear 10s;
    width: 384px;
    height: 384px;
}

/*计分榜*/
.scoring{
    z-index: 10;
    position: absolute;
    top: 10px;
    left: 10px;
    border: #7983ff 2px solid;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 450px;
    height: 50px;
    border-radius: 30px;
    background: rgba(172, 191, 255,0.5);
}
.fuelGauge span::before{
    content: "";
    background: url("../img/fuel.png");
    background-size: cover;
    width: 50px;
    height: 70px;
}
.fuelGauge{
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    .fuelGaugeCapacity{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.2s;
        background-color: #7983ff;
    }
}


.fuelGauge span{
    font-weight: 600;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.gameStop,.music{
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    background: #7983ff;
    width: 50px;
}
.music{
    background: #7983ff url("../img/music-pause.png") no-repeat center;
}
.stopImg{
    background: url("../img/stopBtn.png") no-repeat ;
    height: 14px;
    width: 11px;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns:repeat(4,100px);
    justify-items: center;
    align-items: center;
}
.list-title{
    font-size: 1.5rem;
}
input{
    color: white;
    background: transparent;
    border: none;
    border-bottom: #7983ff 3px solid;
    width: 200px;
    outline: none;
    font-size: 1.5rem;
}
.continue{
    display: block;
}
.over-frame{
    display: grid;
    justify-content: center;
    align-items: center;
}
.inputName{
    grid-template-rows: 50px 50px;
    display: grid;
    grid-gap:20px;
    justify-items: center;
}
.over-frame{
    display: flex;
    justify-items: center;
}
.game-over{
    display: none;
    background-color: rgb(0, 0, 0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    .game-over-content{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .game-over-text{
            font-size: 34px;
            font-weight: 600;
        }
        button{
            width: 100%;
        }
    }
}
.list-content{
    font-size: 1.25rem;
    /*display: grid;*/
    grid-row-gap: 5px;
    overflow: auto;
    height: 300px;
    /*grid-template-rows: repeat();*/
}
.tip{
    border-radius: 30px;
    position: absolute;
    background: #fc575d;
    font-size: 1.5rem;
    padding: 8px 15px;
    animation: tip 1.5s linear normal;
}
/*陨石*/
.meteorite{
    background: url("../img/stone.png");
    background-size: cover;
    width: 100px;
    height: 100px;
}
.font-size{
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.size::after{
    width: 30px;
    height: 30px;
}
.size{
    font-size: 16px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition:0s;
    animation:fontSizeBtn 1s;
}
.size:hover{
    width: 30px;
}
.planet{
    filter:contrast(0.5) brightness(0.5);
}
.player::after{
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    left: -34px;
    top: 3px;
    content: '';
    background: url("../img/tailFlame.png");
    background-size: cover;
    width: 40px;
    height: 23px;
}
.player::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
    opacity: 0.3;
    background: red;
}
.boom{
    position: absolute;
    background-image: url("../img/boom.png");
    width: 80px;
    height: 80px;
    z-index: 3;
}
