/*切换页面*/
@keyframes changPage {
    100%{
        transform: rotate(360deg);
       }

}
@keyframes item-enemy-animation {
    100%{
        background-position-x: 400%;
    }
}
@keyframes r-l{
    100%{
        transform: translateX(-1100px);
    }
}
@keyframes l-r{
     100%{
         transform: translateX(1100px);
     }
 }
@keyframes t-b {
    100%{
        transform: translateY(700px);
    }
}
@keyframes die-t-b {
    0%{
        transform: rotate(180deg);
    }
    100%{
        opacity: 0;
        transform: translateY(600px) rotate(360deg);
    }
}
@keyframes font-in{
    from{
        transform:scale(0,0);
        opacity: 0;
    }
    to{
        transform:scale(1,1);
        opacity: 1;
    }
}
@keyframes swing{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-20px) rotate(40deg);
    }
    40%{
        transform:translateX(40px) rotate(-40deg);
    }
    60%{
        transform: translateX(-10px) rotate(20deg);
       }
    80%{
        transform: translateX(10px) rotate(-20deg);
    }
    100%{
        transform: translateX(0) rotate(0);
    }
}
@keyframes stretch{
    from{
        width: 1%;
        opacity: 0;
        font-size: 1px;
    }
}
@keyframes fontSizeBtn {
    from{
        opacity: 0;
    }
}
@keyframes planetMove {
    to{
        transform: translateX(-1500px);
    }
}
@keyframes tip {
    0%{
        opacity: 0;
        transform:translateY(-20px);
    }
    20%{
        opacity: 1;
        transform:translateY(20px);
    }
    80%{
        opacity: 1;
        transform:translateY(20px);
    }
    100%{
        opacity: 0;
        transform:translateY(40px);
    }
}
@keyframes headDictionary-top {
    100%{
        transform:rotate(10deg);
    }
}
@keyframes headDictionary-bottom {
    100%{
        transform:rotate(-10deg);
    }
}
@keyframes collision{
    0%{
        box-shadow: 0 0 10px red;
        transform: translateX(0px);
    }
    10%{
        transform: translateX(-3px);
    }
    20%{
        transform: translateX(3px);
    }
    30%{
        transform: translateX(-3px);
    }
    40%{
        transform: translateX(3px);
    }
    50%{
        transform: translateX(-3px);
    }
    60%{
        transform: translateX(3px);
    }
    70%{
        transform: translateX(-3px);
    }
    80%{
        transform: translateX(3px);
    }
    90%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0px);
        box-shadow: none;
    }
}

@keyframes frame-out {
    to{
        transform: rotateZ(90deg) translateY(1500px);
    }
}

@keyframes frame-in {
    from{
        transform: rotateZ(-90deg) translateY(-1500px);
    }
}