@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uw91la');
  src:  url('fonts/icomoon.eot?uw91la#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uw91la') format('truetype'),
    url('fonts/icomoon.woff?uw91la') format('woff'),
    url('fonts/icomoon.svg?uw91la#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
  content: "\e92e";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-image:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-pagebreak:before {
  content: "\ea6e";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
