* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body,
html {
    height: 100%;
}

canvas {
    display: inline-block;
}

#canvas {
    width: 100%;
    height: 100%;
}

.tools {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.tools>div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgb(31, 30, 30);
    cursor: pointer;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 30px;
}

.color {
    position: relative;
}

.show-color {
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0);
}

.color-palette {
    width: 200px;
    border: 1px solid rgb(31, 30, 30);
    position: absolute;
    left: 40px;
    top: 0;
}

#color-done {
    outline: none;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 0;
    background-color: rgb(31, 30, 30);
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.pallet-input {
    /* outline: none; */
    width: 30px;
}

.color-palette label,
.color-palette input {
    display: inline-block;
}

.color {
    background-color: black;
}

.color-palette {
    display: none;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes moveTop {
    to {
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
    }
}